In [113]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import g_key
from pprint import pprint

In [114]:
#import the csv file from Part 1 and import to DataFrame
file=pd.read_csv("../WeatherPy/Output/file.csv")
file

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,codrington,-38.27,141.97,56.50,75.0,92.0,13.27,AU,1.604117e+09
1,tiksi,71.69,128.87,7.18,95.0,100.0,3.58,RU,1.604117e+09
2,dikson,73.51,80.55,14.86,96.0,98.0,26.84,RU,1.604117e+09
3,mitake,35.42,137.13,63.00,29.0,0.0,4.23,JP,1.604117e+09
4,livingstonia,-10.61,34.11,63.73,81.0,11.0,5.41,MW,1.604117e+09
...,...,...,...,...,...,...,...,...,...
558,san vicente,-26.62,-54.13,58.96,85.0,74.0,3.40,AR,1.604118e+09
559,santa vitoria do palmar,-33.52,-53.37,54.03,85.0,97.0,6.26,BR,1.604117e+09
560,pimenta bueno,-11.67,-61.19,73.08,96.0,100.0,4.54,BR,1.604118e+09
561,santarem,-2.44,-54.71,77.00,94.0,0.0,3.36,BR,1.604117e+09
562,hailar,49.20,119.70,32.61,97.0,100.0,11.92,CN,1.604118e+09

In [115]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [130]:
#Use the Lat and Lng as locations and Humidity as the weight.
locations=file[["Lat","Lng"]]
weight=file["Humidity"].astype(float)


#Add Heatmap layer to map.
#we had to experiment with the parameter to get the size of the world. 
fig = gmaps.figure(center=(30.5051,-110.6750),zoom_level=2.90)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [117]:
# Create new DataFrame fitting weather criteria

# Narrow down the cities to fit weather conditions.
# Drop any rows will null values.
ideal_weather=file.loc[(file["Max Temp"] >=70) & (file["Max Temp"]<=80) &
                    (file["Wind Speed"]<=10) &
                    (file["Cloudiness"]==0)]

In [118]:
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,rikitea,-23.12,-134.97,76.10,64.0,0.0,2.66,PF,1.604117e+09
17,umm lajj,25.02,37.27,77.29,34.0,0.0,4.45,SA,1.604117e+09
58,ormara,25.21,64.64,78.84,25.0,0.0,6.04,PK,1.604117e+09
63,los llanos de aridane,28.66,-17.92,71.60,43.0,0.0,9.17,ES,1.604117e+09
64,dire,12.28,-10.97,70.54,40.0,0.0,1.97,ML,1.604117e+09
127,kita,13.03,-9.49,71.74,34.0,0.0,1.72,ML,1.604117e+09
131,salalah,17.02,54.09,73.40,38.0,0.0,3.36,OM,1.604117e+09
190,mokolo,10.74,13.80,71.96,36.0,0.0,6.38,CM,1.604117e+09
268,aguimes,27.91,-15.45,75.99,47.0,0.0,2.24,ES,1.604118e+09
300,wagar,16.15,36.20,78.98,48.0,0.0,4.50,SD,1.604118e+09
449,manaus,-3.10,-60.02,78.80,88.0,0.0,3.36,BR,1.604117e+09
455,santa lucia,27.91,-15.54,75.99,47.0,0.0,2.24,ES,1.604118e+09
483,rucheng,32.39,120.56,73.00,45.0,0.0,5.53,CN,1.604118e+09
502,potiskum,11.71,11.07,75.25,24.0,0.0,8.79,NG,1.604118e+09
518,ankazoabo,-22.28,44.52,72.75,41.0,0.0,3.69,MG,1.604118e+09
520,belmonte,-15.86,-38.88,77.00,83.0,0.0,4.70,BR,1.604118e+09
524,tonk,26.17,75.78,79.88,17.0,0.0,4.00,IN,1.604118e+09
561,santarem,-2.44,-54.71,77.00,94.0,0.0,3.36,BR,1.604117e+09

In [119]:
#  Hotel Map

# Store into variable named hotel_df.
hotel_df=pd.DataFrame(ideal_weather, columns=["City","Lat","Lng","Country"])
hotel_df["Hotel Name"]=""                  
hotel_df

                      City    Lat     Lng Country Hotel Name
7                  rikitea -23.12 -134.97      PF
17                umm lajj  25.02   37.27      SA
58                  ormara  25.21   64.64      PK
63   los llanos de aridane  28.66  -17.92      ES
64                    dire  12.28  -10.97      ML
127                   kita  13.03   -9.49      ML
131                salalah  17.02   54.09      OM
190                 mokolo  10.74   13.80      CM
268                aguimes  27.91  -15.45      ES
300                  wagar  16.15   36.20      SD
449                 manaus  -3.10  -60.02      BR
455            santa lucia  27.91  -15.54      ES
483                rucheng  32.39  120.56      CN
502               potiskum  11.71   11.07      NG
518              ankazoabo -22.28   44.52      MG
520               belmonte -15.86  -38.88      BR
524                   tonk  26.17   75.78      IN
561               santarem  -2.44  -54.71      BR

In [120]:
# Add a "Hotel Name" column to the DataFrame.
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
params={"radius":5000,"types":"hotel","keyword":"hotel","key":g_key}

In [121]:
hotel=[]
for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url,params=params)
    vacation=response.json()
    try:
        hotel.append(vacation["results"][0]['name'])
    except:
        hotel.append(np.nan)

In [123]:
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.
hotel_df["Hotel Name"]=hotel
hotel_df

,City,Lat,Lng,Country,Hotel Name
7,rikitea,-23.12,-134.97,PF,Pension Maro'i
17,umm lajj,25.02,37.27,SA,HP Red Sea Hotel
58,ormara,25.21,64.64,PK,Alqadri hotel zero point ormara
63,los llanos de aridane,28.66,-17.92,ES,Hotel Hacienda de Abajo
64,dire,12.28,-10.97,ML,NaN
127,kita,13.03,-9.49,ML,HÃ”TEL LE RELAIS
131,salalah,17.02,54.09,OM,Salalah Gardens Hotel
190,mokolo,10.74,13.80,CM,Hotel Bougogo
268,aguimes,27.91,-15.45,ES,Villa Nestor
300,wagar,16.15,36.20,SD,NaN
449,manaus,-3.10,-60.02,BR,Hotel Villa AmazÃ´nia
455,santa lucia,27.91,-15.54,ES,Las Tirajanas
483,rucheng,32.39,120.56,CN,Mercure Rugao City Centre
502,potiskum,11.71,11.07,NG,Tamir Hotel Ltd
518,ankazoabo,-22.28,44.52,MG,NaN
520,belmonte,-15.86,-38.88,BR,Pousada Belmonte
524,tonk,26.17,75.78,IN,Hotel shyam sharnam
561,santarem,-2.44,-54.71,BR,Prata Hotel

In [125]:
hotel_clean=hotel_df.dropna()
hotel_clean

,City,Lat,Lng,Country,Hotel Name
7,rikitea,-23.12,-134.97,PF,Pension Maro'i
17,umm lajj,25.02,37.27,SA,HP Red Sea Hotel
58,ormara,25.21,64.64,PK,Alqadri hotel zero point ormara
63,los llanos de aridane,28.66,-17.92,ES,Hotel Hacienda de Abajo
127,kita,13.03,-9.49,ML,HÃ”TEL LE RELAIS
131,salalah,17.02,54.09,OM,Salalah Gardens Hotel
190,mokolo,10.74,13.80,CM,Hotel Bougogo
268,aguimes,27.91,-15.45,ES,Villa Nestor
449,manaus,-3.10,-60.02,BR,Hotel Villa AmazÃ´nia
455,santa lucia,27.91,-15.54,ES,Las Tirajanas
483,rucheng,32.39,120.56,CN,Mercure Rugao City Centre
502,potiskum,11.71,11.07,NG,Tamir Hotel Ltd
520,belmonte,-15.86,-38.88,BR,Pousada Belmonte
524,tonk,26.17,75.78,IN,Hotel shyam sharnam
561,santarem,-2.44,-54.71,BR,Prata Hotel

In [136]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_clean.iterrows()]
locations = hotel_clean[["Lat", "Lng"]]

 # Add marker layer ontop of heat map
# Display figure

marker=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig=gmaps.figure(heat_layer)
fig.add_layer(marker)
fig

Figure(layout=FigureLayout(height='420px'))